<!DOCTYPE html>
<html>
<head>
  <title>SingleUseLinks</title>
  <%= stylesheet_link_tag    "single_use_links/application", media: "all" %>
  <%= javascript_include_tag "single_use_links/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
